<div class="silder">
  <div class="container">
      <div class="wrapper">
          <div class="myslider swiper">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="item">
                          <div class="image object-cover">
                              <img src="assets/slider/slider0.jpg" alt="">
                          </div>
                          <div class="text-content flexcol">
                              <h4>Shoes Fashion</h4>
                              <h2><span>Come and Get it!</span> <br><span>Brand New Shoes</span></h2>
                              <a href="#" class="primary-button">Shop Now</a>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="item">
                          <div class="image object-cover">
                              <img src="assets/slider/slider0.jpg" alt="">
                          </div>
                          <div class="text-content flexcol">
                              <h4>Shoes Fashion</h4>
                              <h2><span>Come and Get it!</span> <br><span>Brand New Shoes</span></h2>
                              <a href="#" class="primary-button">Shop Now</a>
                          </div>
                      </div>
                  </div>
                  
              </div>
            <div class="swiper-pagination"></div>
          </div>
      </div>
  </div>
</div>

<div class="single-producr">
<div class="container">
  <div class="wrapper">
      <div class="breadcrumb">
          <ul class="flexitem">
              <li><a href="#">Home</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">chi tiet san pham</a></li>
          </ul>
      </div>
      <!-- breadcrumb -->
      

<div class="column">
  <div class="products one">
      <div class="flexwrap">
          <div class="row">
              <div class="item">
                  <div class="price">
                      <span class="discount">32%<br> OFF</span>
                  </div>
                  <div class="big-image">
                      <div class="big-image-wrapper swiper-wrapper">
                          <div class="image-show swiper-slide">
                              <a data-fslightbox href="{{ products.imgUrl }}"><img src="{{ products.imgUrl }}" alt=""></a>
                          </div>
                          <div class="image-show swiper-slide">
                              <a data-fslightbox href="assets/products/shoe1-1.jpg"><img src="assets/products/shoe1-1.jpg" alt=""></a>
                          </div>
                          <div class="image-show swiper-slide">
                              <a data-fslightbox href="assets/products/shoe1-2.jpg"><img src="assets/products/shoe1-2.jpg" alt=""></a>
                          </div>
                      </div>
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                  </div>

                  <div thumSlider="" class="small-image">
                      <ul class="small-image-wrapper flexitem swiper-wrapper">
                          <li class="thumbnail-show swiper-slide">
                              <img src="assets/products/shoe1.jpg" alt="">
                          </li>
                          <li class="thumbnail-show swiper-slide">
                              <img src="assets/products/shoe1-1.jpg" alt="">
                          </li>
                          <li class="thumbnail-show swiper-slide">
                              <img src="assets/products/shoe1-2.jpg" alt="">
                          </li>
                          
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="item">
                  <h1>{{ products.name }}</h1>
                  <div class="content">
                      <div class="rating">
                          <div class="stars"></div>
                          <a href="#" class="mini-text">2,251 reviews</a>
                          <a href="" class="add-review mini-text">Add Your Review</a>
                      </div>
                      <div class="stock-sku">
                          <span class="available">In Stock</span>
                          <span class="sku mini-text">SKU-881</span>
                      </div>
                      <div class="price">
                          <span class="current">{{ products.price }}</span>
                          <span class="normal">$119.90</span>
                      </div>
                      <div class="colors">
                          <p>Color</p>
                          <div class="variant">
                              <form action="">
                                  <p>
                                      <input type="radio" name="color" id="cogrey">
                                      <label for="cogrey" class="circle"></label>
                                  </p>
                                  <p>
                                      <input type="radio" name="color" id="coblue">
                                      <label for="coblue" class="circle"></label>
                                  </p>
                                  <p>
                                      <input type="radio" name="color" id="cogreen">
                                      <label for="cogreen" class="circle"></label>
                                  </p>
                              </form>
                          </div>
                      </div>
                      <div class="sizes">
                          <p>Size</p>
                          <div class="variant">
                              <form action="">
                                  <p>
                                      <input type="radio" name="color" id="size-40">
                                      <label for="size-40" class="circle"><span>40</span></label>
                                  </p>
                                  <p>
                                      <input type="radio" name="color" id="size-41">
                                      <label for="size-41" class="circle"><span>41</span></label>
                                  </p>
                                  <p>
                                      <input type="radio" name="color" id="size-42">
                                      <label for="size-42" class="circle"><span>42</span></label>
                                  </p>
                                  <p>
                                      <input type="radio" name="color" id="size-43">
                                      <label for="size-43" class="circle"><span>43</span></label>
                                  </p>
                              </form>
                          </div>
                      </div>
                      <div class="actions">
                          <div class="qty-control flexitem">
                              <button class="minus circle">-</button>
                              <input type="text" value="1">
                              <button class="plus circle">+</button>
                          </div>
                          <div class="button-cart"><button class="primary-button">Add to cart</button></div>
                          <div class="wish-share">
                              <ul class="flexitem second-links">
                                  <li><a href="#">
                                      <span class="icon-large"><i class="ri-heart-line"></i></span>
                                      <span>Wishlist</span>
                                  </a></li>
                                  <li><a href="#">
                                      <span class="icon-large"><i class="ri-share-line"></i></span>
                                      <span>Share</span>
                                  </a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="description">
                        {{ products.description }}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

  </div>
</div>
</div>