<div class="features">
  <div class="container">
      <div class="wrapper">
          <div class="sectop flexitem">
              <h2><span class="circle"></span><span>featured product</span></h2>
              <div class="second-links">
                  <a href="" class="view-all">View all<i class="ri-arrow-right-line"></i></a>
              </div>
          </div>
          <div class="column">  
         
              <div class="products main flexwrap" *ngIf="products && products.length; else elseBlock " >
                  <div class="item" *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }" >
                      <div class="products main media">
                          <div class="thumbnail object-cover">
                              <a href="#">
                                  <img src="{{product.imgUrl}}" alt="">
                              </a>
                          </div>
                          <div class="hoverable">
                              <ul>
                                  <li class="active"><a href="#"><i class="ri-heart-line"></i></a>
                                  </li>
                                  <li><a href=""><i class="ri-eye-line"></i></a></li>
                                  <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                              </ul>
                          </div>
                          <div class="discount circle flexcenter"><span>31</span></div>
                      </div>
                      <div class="content">
                          <div class="rating">
                              <div class="stars"></div>
                              <span class="mini-text">(2,548)</span>
                          </div>
                          <h3><a href="#">{{product.name}}</a></h3>

                              <div class="price">
                                  <span class="current">$ {{product.price}}</span>
                                  <span class="normal mini-text">$189,98</span>
                              </div>
                      </div>
                  </div>       
              </div>
              <pagination-controls style="text-align: center;" (pageChange) = "p = $event"></pagination-controls>
              <ng-template #elseBlock>Không tìm thấy sản phẩm!</ng-template>
              
          </div>
      </div>
  </div>
</div>