<div id="page" class="site">
    <main>
        <div class="trending">
            <div class="container">
                <div class="wrapper">
                    <div class="sectop flexitem">
                        <h2><span class="circle"></span><span>trending Product</span></h2>
                    </div>
                    <div class="column">
                        <div class="flexwrap">
                            <div class="row products big">
                                <div class="item">
                                    <div class="offer">s
                                        <p>Offer end at</p>
                                        <ul class="flexcenter">
                                            <li>1</li>
                                            <li>15</li>
                                            <li>27</li>
                                            <li>60</li>
                                        </ul>
                                    </div>
                                    <div class="media">
                                        <div class="image">
                                            <a href="#">
                                                <img src="assets/products/silde.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                <li class="active"><a href="#"><i class="ri-heart-line"></i></a>
                                                </li>
                                                <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="discount circle flexcenter"><span>31</span></div>
                                    </div>
                                    <div class="content">
                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <h3 class="main-links"><a href="#">Happy Sailed Women Summer Boho Floral</a>
                                        </h3>
                                        <div class="price">
                                            <span class="current">$129,99</span>
                                            <span class="normal mini-text">$189,98</span>
                                        </div>
                                        <div class="stock mini-text">
                                            <div class="qty">
                                                <span>Stock: <strong class="qty-available">107</strong></span>
                                                <span>Sold: <strong class="qty-sold">3,459</strong></span>
                                            </div>
                                            <div class="bar">
                                                <div class="available"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row products mini">
                                <div class="item">
                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="#">
                                                <img src="../../../assets/products/shoe2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                <li class="active"><a href="#"><i class="ri-heart-line"></i></a>
                                                </li>
                                                <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="discount circle flexcenter"><span>32%</span></div>
                                    </div>
                                    <div class="content">
                                        <h3 class="main-links"><a href="#">Black Women's coat Dress</a></h3>

                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <div class="price">
                                            <span class="current">$129,99</span>
                                            <span class="normal mini-text">$189,98</span>
                                        </div>
                                        <div class="mini-text">
                                            <p>2975 sold</p>
                                            <p>Free Shipping</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="#">
                                                <img src="assets/products/shoe1-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                <li class="active"><a href="#"><i class="ri-heart-line"></i></a>
                                                </li>
                                                <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="discount circle flexcenter"><span>32%</span></div>
                                    </div>
                                    <div class="content">
                                        <h3 class="main-links"><a href="#">Black Women's coat Dress</a></h3>

                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <div class="price">
                                            <span class="current">$129,99</span>
                                            <span class="normal mini-text">$189,98</span>
                                        </div>
                                        <div class="mini-text">
                                            <p>2975 sold</p>
                                            <p>Free Shipping</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="#">
                                                <img src="assets/products/shoe3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                <li class="active"><a href="#"><i class="ri-heart-line"></i></a>
                                                </li>
                                                <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="discount circle flexcenter"><span>32%</span></div>
                                    </div>
                                    <div class="content">
                                        <h3 class="main-links"><a href="#">Black Women's coat Dress</a></h3>

                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <div class="price">
                                            <span class="current">$129,99</span>
                                            <span class="normal mini-text">$189,98</span>
                                        </div>
                                        <div class="mini-text">
                                            <p>2975 sold</p>
                                            <p>Free Shipping</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="#">
                                                <img src="assets/products/shoe4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                <li class="active"><a href="#"><i class="ri-heart-line"></i></a>
                                                </li>
                                                <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="discount circle flexcenter"><span>32%</span></div>
                                    </div>
                                    <div class="content">
                                        <h3 class="main-links"><a href="#">Black Women's coat Dress</a></h3>

                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <div class="price">
                                            <span class="current">$129,99</span>
                                            <span class="normal mini-text">$189,98</span>
                                        </div>
                                        <div class="mini-text">
                                            <p>2975 sold</p>
                                            <p>Free Shipping</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row products mini">
                                <div class="item">
                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="#">
                                                <img src="assets/products/shoe1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                <li class="active"><a href="#"><i class="ri-heart-line"></i></a>
                                                </li>
                                                <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                            </ul>
                                        </div>
                                        <!-- <div class="discount circle flexcenter"><span>32%</span></div> -->
                                    </div>
                                    <div class="content">
                                        <h3 class="main-links"><a href="#">Men slip on shoes Causual with Arch
                                                support
                                                Insoles</a></h3>

                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <div class="price">
                                            <span class="current">$129,99</span>
                                            <span class="normal mini-text">$189,98</span>
                                        </div>
                                        <div class="mini-text">
                                            <p>2975 sold</p>
                                            <p>Free Shipping</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="#">
                                                <img src="assets/products/shoe5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                <li class="active"><a href="#"><i class="ri-heart-line"></i></a>
                                                </li>
                                                <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="discount circle flexcenter"><span>32%</span></div>
                                    </div>
                                    <div class="content">
                                        <h3 class="main-links"><a href="#">Black Women's coat Dress</a></h3>

                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <div class="price">
                                            <span class="current">$129,99</span>
                                            <span class="normal mini-text">$189,98</span>
                                        </div>
                                        <div class="mini-text">
                                            <p>2975 sold</p>
                                            <p>Free Shipping</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="#">
                                                <img src="assets/products/home3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                <li class="active"><a href="#"><i class="ri-heart-line"></i></a>
                                                </li>
                                                <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="discount circle flexcenter"><span>32%</span></div>
                                    </div>
                                    <div class="content">
                                        <h3 class="main-links"><a href="#">Black Women's coat Dress</a></h3>

                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <div class="price">
                                            <span class="current">$129,99</span>
                                            <span class="normal mini-text">$189,98</span>
                                        </div>
                                        <div class="mini-text">
                                            <p>2975 sold</p>
                                            <p>Free Shipping</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="#">
                                                <img src="assets/products/shoe1-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                <li class="active"><a href="#"><i class="ri-heart-line"></i></a>
                                                </li>
                                                <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="discount circle flexcenter"><span>32%</span></div>
                                    </div>
                                    <div class="content">
                                        <h3 class="main-links"><a href="#">Black Women's coat Dress</a></h3>

                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <div class="price">
                                            <span class="current">$129,99</span>
                                            <span class="normal mini-text">$189,98</span>
                                        </div>
                                        <div class="mini-text">
                                            <p>2975 sold</p>
                                            <p>Free Shipping</p>
                                            <p class="stock-danger">Stock: 7 left!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="features">
            <div class="container">
                <div class="wrapper">
                    <div class="sectop flexitem">
                        <h2><span class="circle"></span><span>featured product</span></h2>
                        <div class="second-links">
                            <a href="" class="view-all">View all<i class="ri-arrow-right-line"></i></a>
                        </div>
                    </div>
                    <div class="column">  
                   
                        <div class="products main flexwrap" *ngIf="products && products.length; else elseBlock " >
                            <div class="item" *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }" >
                                <div class="products main media">
                                    <div class="thumbnail object-cover">
                                        <a href="product/{{product.id}}">
                                            <img src="{{product.imgUrl}}" alt="">
                                        </a>
                                    </div>
                                    <div class="hoverable">
                                        <ul>
                                            <li class="active"><a href="#"><i class="ri-heart-line"></i></a>
                                            </li>
                                            <li><a href=""><i class="ri-eye-line"></i></a></li>
                                            <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="discount circle flexcenter"><span>31</span></div>
                                </div>
                                <div class="content">
                                    <div class="rating">
                                        <div class="stars"></div>
                                        <span class="mini-text">(2,548)</span>
                                    </div>
                                    <h3><a href="#">{{product.name}}</a></h3>

                                        <div class="price">
                                            <span class="current">$ {{product.price}}</span>
                                            <span class="normal mini-text">$189,98</span>
                                        </div>
                                </div>
                            </div>       
                        </div>
                        <pagination-controls style="text-align: center;" (pageChange) = "p = $event"></pagination-controls>
                        <ng-template #elseBlock>Không tìm thấy sản phẩm!</ng-template>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
